
@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 1000;
}



:root {
    --bg-color-main: #f4d04e;
    --bg-color-card: #fff;

    --text-color-dark: #111;
    --text-color-light: #6b6b6b;

    --font-size-sml: calc((14 / 16) * 1rem);
    --font-size-med: calc((16 / 16) * 1rem);
    --font-size-lrg: calc((24 / 16) * 1rem);
    
    
    --space-sml: calc((4 / 16) * 1rem);
    --space-med: calc((8 / 16) * 1rem);
    --space-lrg: calc((12 / 16) * 1rem);
    --space-xl: calc((16 / 16) * 1rem);
    --space-xxl: calc((24 / 16) * 1rem);
   
    
    
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-main);
}

img {
    display: block;
    max-width: 100%;
}

.blog-card {
    max-width: 24rem;
    border: 1px solid var(--text-color-dark);
    border-radius: 20px;
    padding: var(--space-xxl);
    background-color: var(--bg-color-card);
    box-shadow: 8px 8px #000;
}

.blog-card__image {
    border-radius: 10px;
}

.blog-card__content {
    margin-block-start: var(--space-xxl);
    margin-block-end: var(--space-xxl);
    line-height: 1.5;
    color: var(--text-color-dark);
    font-family: "Figtree", sans-serif;
}

.blog-card__content > *:not(:last-child){
    margin-block-end: var(--space-lrg);
}

.blog-card__category {
    display: inline-block;
    border-radius: 4px;
    padding-inline: var(--space-lrg);
    padding-block: var(--space-sml);
    background-color: var(--bg-color-main);
    font-weight: 800;
    font-size: var(--font-size-sml);
    color: var(--text-color-dark);
}

.blog-card__publish-date {
    font-weight: 500;
    font-size: var(--font-size-sml);

}

.blog-card__title {
    display: block;
    text-decoration: none;
    
}

.blog-card__title:link,
.blog-card__title:visited {
    color: var(--text-color-dark);
}

.blog-card__title:hover,
.blog-card__title:focus {
    cursor: pointer;
    color: var(--bg-color-main);

}

.blog-card__title:active {
    color: #2288db;
}

.blog-card__title h2 {
    font-weight: 800;
    font-size: var(--font-size-lrg);
    
}

.blog-card__description {
    font-size: var(--font-size-med);
    font-weight: 500;
    color: var(--text-color-light);
}

.blog-card__author {
    display: flex;
    align-items: center;
    gap: var(--space-lrg);
    font-weight: 800;
    font-size: var(--font-size-sml);
    color: var(--text-color-dark);
}

.blog-card__author img {
    max-width: 2rem;
}